<nav class="navbar">
    <a [routerLink]="['/']">
        <header class="brand-name">
            <h1>Home</h1>
        </header>
    </a>
    <a [routerLink]="['/projetos']">
        <header class="brand-name">
            <h1>Projetos</h1>
        </header>
    </a>
    <a [routerLink]="['/blog']">
        <header class="brand-name">
            <h1>Blog</h1>
        </header>
    </a>
    <a [routerLink]="['/contato']">
        <header class="brand-name">
            <h1>Contato</h1>
        </header>
    </a>
</nav>